USE master;
GO

IF DB_ID('QuickSale') IS NULL
BEGIN
    CREATE DATABASE QuickSale;
END
GO

USE [QuickSale]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSale]    Script Date: 24/02/2026 5:13:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_CreateSale]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
-- 3. Stored Procedure con validación de Auditoría y Transacción ADO.NET compatible
CREATE PROCEDURE [dbo].[sp_CreateSale]
    @CustomerId INT,
    @Total DECIMAL(18,2),
    @ItemsXML XML
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validar Cliente Activo y Existente
        IF NOT EXISTS (SELECT 1 FROM Customers WHERE CustomerId = @CustomerId AND IsActive = 1)
        BEGIN
            RAISERROR(''El cliente no existe o está inactivo en el sistema.'', 16, 1);
        END

        -- Validar que todos los productos en el XML estén activos
        IF EXISTS (
            SELECT 1 
            FROM @ItemsXML.nodes(''/Items/Item'') AS T(Item)
            JOIN Products P ON P.ProductId = T.Item.value(''(ProductId)[1]'', ''INT'')
            WHERE P.IsActive = 0
        )
        BEGIN
            RAISERROR(''Uno o más productos seleccionados están inactivos.'', 16, 1);
        END

        -- Insertar Cabecera de Venta
        INSERT INTO Sales (CustomerId, Total, IsActive, CreatedAt)
        VALUES (@CustomerId, @Total, 1, GETDATE());

        DECLARE @NewSaleId INT = SCOPE_IDENTITY();

        -- Insertar Detalles
        INSERT INTO SaleItems (SaleId, ProductId, Quantity, UnitPrice, CreatedAt)
        SELECT 
            @NewSaleId,
            T.Item.value(''(ProductId)[1]'', ''INT''),
            T.Item.value(''(Quantity)[1]'', ''INT''),
            T.Item.value(''(UnitPrice)[1]'', ''DECIMAL(18,2)''),
            GETDATE()
        FROM @ItemsXML.nodes(''/Items/Item'') AS T(Item);

        COMMIT TRANSACTION;
        
        -- Retornar el ID para que el API lo capture
        SELECT @NewSaleId AS SaleId;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW; -- Re-lanzar el error para que ADO.NET lo capture en el Catch de C#
    END CATCH
END' 
END
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 24/02/2026 5:13:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24/02/2026 5:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SaleItems]    Script Date: 24/02/2026 5:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaleItems]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SaleItems](
	[SaleItemId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Subtotal]  AS ([Quantity]*[UnitPrice]),
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 24/02/2026 5:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sales]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Juan Pérez (Premium)', 1, CAST(0x0000B3FA00D9A769 AS DateTime), NULL)
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'María García (Frecuente)', 1, CAST(0x0000B3FA00D9A769 AS DateTime), NULL)
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Tienda Central Branch', 1, CAST(0x0000B3FA00D9A769 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

GO
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Laptop Dell Latitude', CAST(1250.00 AS Decimal(18, 2)), 1, CAST(0x0000B3FA00D9A76B AS DateTime), NULL)
GO
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Monitor LG 24" UltraWide', CAST(350.00 AS Decimal(18, 2)), 1, CAST(0x0000B3FA00D9A76B AS DateTime), NULL)
GO
INSERT [dbo].[Products] ([ProductId], [Name], [Price], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Teclado Mecánico RGB', CAST(85.50 AS Decimal(18, 2)), 1, CAST(0x0000B3FA00D9A76B AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleItems] ON 

GO
INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [UnitPrice], [CreatedAt]) VALUES (1, 1, 1, 1, CAST(1250.00 AS Decimal(18, 2)), CAST(0x0000B3F900D9A76C AS DateTime))
GO
INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [UnitPrice], [CreatedAt]) VALUES (2, 1, 3, 1, CAST(85.50 AS Decimal(18, 2)), CAST(0x0000B3F900D9A76C AS DateTime))
GO
INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [UnitPrice], [CreatedAt]) VALUES (3, 2, 1, 1, CAST(1250.00 AS Decimal(18, 2)), CAST(0x0000B3FA013C0DE0 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SaleItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

GO
INSERT [dbo].[Sales] ([SaleId], [CustomerId], [Total], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, 1, CAST(1335.50 AS Decimal(18, 2)), 1, CAST(0x0000B3F900D9A76B AS DateTime), NULL)
GO
INSERT [dbo].[Sales] ([SaleId], [CustomerId], [Total], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, 1, CAST(1335.50 AS Decimal(18, 2)), 1, CAST(0x0000B3FA013C0DDF AS DateTime), NULL)
GO
INSERT [dbo].[Sales] ([SaleId], [CustomerId], [Total], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, 1, CAST(1275.00 AS Decimal(18, 2)), 1, CAST(0x0000B3FA013FE60F AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Customers__IsAct__108B795B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Customers__Creat__117F9D94]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Products__IsActi__145C0A3F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Products__Create__15502E78]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__SaleItems__Creat__1CF15040]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SaleItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Sales__IsActive__182C9B23]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((1)) FOR [IsActive]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Sales__CreatedAt__1920BF5C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [CreatedAt]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Items_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleItems]'))
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD  CONSTRAINT [FK_Items_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Items_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleItems]'))
ALTER TABLE [dbo].[SaleItems] CHECK CONSTRAINT [FK_Items_Products]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Items_Sales]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleItems]'))
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD  CONSTRAINT [FK_Items_Sales] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Items_Sales]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleItems]'))
ALTER TABLE [dbo].[SaleItems] CHECK CONSTRAINT [FK_Items_Sales]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Sales_Customers]') AND parent_object_id = OBJECT_ID(N'[dbo].[Sales]'))
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Sales_Customers]') AND parent_object_id = OBJECT_ID(N'[dbo].[Sales]'))
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Customers]
GO
